.theAccountSection{
    height: 60vh;
}

.theLinkHed{
    font-size: 1.3rem;
    color: aliceblue;
}

.theLinkHed img{
    width: 1.5rem;
}

.theBtnList img{
    width: 2rem;
    margin-left: 1rem;
}

.theaccCard{
    height: 77%;
    overflow-y: auto;
}

.theEditBtn{
    width: 10rem;
    margin-left: 1rem;
    background-color: #0b605a;
}
.theEditBtn:hover{
    background-color: #0b605a;
}
